/* @font-face {
    font-family: 'ritzynormalregular';
    src: url('ritzynormal-webfont.woff2') format('woff2'),
         url('ritzynormal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */
