.disclaimer {
  margin: -80px 16px 80px;
  text-align: left;
}

.disclaimer__last_updated {
  font-size: small;
  color: #7c7c7c;
}

h5 {
  font-size: 1.2em;
  margin: 4px auto;
}

h6 {
  font-size: 1.1em;
  margin: 4px auto;
}
