@import '../_breakpoints.scss';

.clinic {
  margin: 16px auto;
  width: 600px;
  text-align: left;
  background-color: #d7d7d7;
  padding: 16px;
  border-radius: 4px;

  @include breakpoint(mobile) {
    margin: 16px 0;
    width: calc(100% - 32px);
  }
}

.clinic__available {
  background-color: #9cd48e;
}

.clinic__name,
.clinic__address,
.clinic__appointments,
.clinic__additional_info {
  margin-bottom: 4px;
}

.clinic__name,
.clinic__appointments {
  font-weight: bolder;
}
